
table
  thead
    tr
      td Tool
      td AMD
      td CommonJS
      td Local Git Repo
  tbody
    tr
      td
        a(href="http://bower.io/") Bower
      td Yes
      td Yes
      td yes
    tr
      td
        a(href="http://volojs.org/") Volo
      td Yes
      td Yes
      td
    tr
      td
        a(href="https://github.com/component/component") Component
      td No
      td Yes
      td
    tr
      td
        a(href="http://ender.jit.su/") Ender
      td Yes
      td Yes
      td
    tr
      td
        a(href="http://jamjs.org/") Jam
      td Yes
      td Yes
      td
